@model ProductResponse
<div class="container">
    <div class="container row">
        <div class="col-6">
            <a asp-controller="Products" asp-action="Index"><i class="bi-arrow-return-right"></i>برگشت به محصولات </a>
        </div>
    </div>
    <div class="col-6">
        @{
            if (Model.ProductNameFr != null)
            {
                <h3 class="text-center text-danger">@Model.ProductNameFr </h3>
            }
            else
            {
                <h3 class="text-center text-danger">@Model.ProductNameEn </h3>
            }
        }
    </div>
    <div>
        <a asp-controller="Products" asp-action="AddDescription" asp-route-Id="@Model.Id">
            <i style="cursor: pointer" class="bi-file-plus fs-3 text-success">جدید</i>
        </a>
    </div>
    <table id="tbl_desc" class="table-bordered m-auto table-striped">
        <thead>
            <tr>
                <th style="min-width: 200px">عنوان</th>
                <th style="min-width: 400px">توضیحات</th>
                <th>ویرایش</th>
                <th>حذف</th>
            </tr>
        </thead>
        <tbody>
            @if (Model.productDescs!=null)
            @foreach (ProductDescResponse item in Model.productDescs)
            {
                <tr>
                    <th><div id="desc_title">@item.DescTitle</div></th>
                    <th><div id="desc_text">@item.Description</div></th>
                    <th>
                        <a asp-action="EditDescription" asp-controller="Products" asp-route-Id="@item.Id">
                            <i class="bi-pencil-fill"> </i>
                        </a>
                    </th>
                    <th>
                        <a asp-action="DeleteDescription" asp-controller="Products" asp-route-Id="@item.Id">
                            <i class="bi-trash text-danger"></i>
                        </a>
                    </th>
                </tr>
            }
        </tbody>
    </table>
</div>
